= render 'shared/error_message', object: f.object
.form-title
  %span= yield(:form_title)
  %hr
.form-group
  .row
    = f.label 'Descripción del administrador', class: 'col-xs-12 col-sm-4 control-label'
    = f.text_area :description, class: 'col-xs-12 col-sm-4'
.form-group
  .row
    = f.submit yield(:button_text), class: 'col-xs-12 col-sm-6 col-sm-offset-3'