%h1 Añadir movimiento a otra vivienda

%table.table.table-hover.table-statement-movements
  %tr
    %th Vivienda
    %th Cuota
    %th Saldo
    %th Opciones
  - @apartments.each do |apartment|
    %tr
      - if @movement.apartment != apartment
        %td= "#{full_name_apartment(apartment)}"
        %td= "#{apartment.fee}€"
        %td= "#{apartment.balance}€"
        %td= link_to 'Asociar a vivienda', associate_apartment_path(@movement, apartment), class: 'btn btn-primary', data: {confirm: "¿Añadir a vivienda #{full_name_apartment(apartment)}?"}