- provide(:title, 'Movimientos descendientes')

.row
  .col-xs-12
    .page-header
      %h1 Movimientos descendientes de
      %h1 "#{@movement.concept}"
.inner-wrapper
  .table-responsive
    %table.table.table-hover.table-statement
      %tr
        %th Concepto
        %th Fecha
        %th Cantidad
        %th Descripción
        %th Vivienda asociada
        %th Opciones
      -@movement.children.each do |movement|
        %tr
          %td= link_to "#{movement.child.concept}", movement_path(movement.child)
          %td= "#{movement.child.date}"
          %td= "#{movement.child.amount}€"
          %td= "#{movement.child.description}"
          %td
            - if movement.child.apartment.blank?
              - if current_user.admin?
                = link_to 'Asociar a vivienda', apartmentlist_path(movement.child)
            - else
              = link_to "#{full_name_apartment(movement.child.apartment)}", apartment_path(movement.child.apartment)
          %td
            = link_to 'Ver', movement_path(movement.child), class: 'btn btn-xs btn-primary'
            - if current_user.admin?
              = link_to 'Dividir', divide_path(movement.child), class: 'btn btn-xs btn-success'
              = link_to 'Editar', edit_movement_path(movement.child), class: 'btn btn-xs btn-primary'
              = link_to 'Borrar', movement.child, method: :delete, data: { confirm: '¿Quieres borrar el movimiento bancario?'}, class: 'btn btn-xs btn-danger'