%h1 Movimientos bancarios de los extractos importados

-if @movements.empty?
  %p No hay ningún movimiento procedente de los extractos bancarios con valor positivo ahora mismo.
-else
  .full-width
    = will_paginate @movements, class: 'flickr_pagination'
    .table-responsive
      %table.table.table-hover.table-statement-movements
        %tr
          %th= sortable 'concept', 'Concepto'
          %th= sortable 'date', 'Fecha'
          %th= sortable 'amount', 'Cantidad'
          %th= sortable 'concept1', 'Concepto 1'
          %th= sortable 'concept3', 'Concepto 3'
          %th= sortable 'concept5', 'Concepto 5'
          %th= sortable 'description', 'Descripción'
          %th Vivienda
          %th Opciones
        -@movements.each do |movement|
          - unless movement.amount < 0
            %tr
              %td= link_to "#{movement.concept}", movement_path(movement)
              %td= "#{movement.date}"
              %td= "#{movement.amount}€"
              %td= "#{movement.concept1}"
              %td= "#{movement.concept3}"
              %td= "#{movement.concept5}"
              %td= "#{movement.description}"
              %td
                - if movement.children.empty?
                  - if movement.apartment.blank?
                    = link_to 'Asociar a vivienda', apartmentlist_path(movement)
                  - else
                    = link_to "#{full_name_apartment(movement.apartment)}", apartment_path(movement.apartment)
                - else
                  = link_to 'Movimiento dividido', movement_children_path(movement)
              %td
                - if movement.children.empty?
                  = link_to divide_path(movement), class: 'btn btn-xs btn-success' do
                    %span.glyphicon.glyphicon-scissors
                = link_to edit_movement_path(movement), class: 'btn btn-xs btn-primary' do
                  %span.glyphicon.glyphicon-pencil
                = link_to movement, method: :delete, data: { confirm: '¿Quieres borrar el extracto bancario?'}, class: 'btn btn-xs btn-danger' do
                  %span.glyphicon.glyphicon-trash
    = will_paginate @movements, class: 'flickr_pagination'