- provide(:title, 'Movimiento bancario')

.row
  .col-xs-12
    .page-header
      %h1= 'Datos del movimiento bancario'
.inner-wrapper
  .row
    .col-xs-12
      .row
        .col-xs-6.text-right
          %p= 'Concepto'
        .col-xs-6.text-left
          %p= "#{@movement.concept}"
      .row
        .col-xs-6.text-right
          %p= 'Fecha movimiento'
        .col-xs-6.text-left
          %p= "#{@movement.date}"
      .row
        .col-xs-6.text-right
          %p= 'Fecha valor'
        .col-xs-6.text-left
          %p= "#{@movement.date_value}"
      .row
        .col-xs-6.text-right
          %p= 'Cantidad'
        .col-xs-6.text-left
          %p= "#{@movement.amount}"
      .row
        .col-xs-6.text-right
          %p= 'Divisa'
        .col-xs-6.text-left
          %p= "#{@movement.currency_movement}"
      .row
        .col-xs-6.text-right
          %p= 'Saldo posterior'
        .col-xs-6.text-left
          %p= "#{@movement.post_balance}"
      .row
        .col-xs-6.text-right
          %p= 'Divisa del saldo posterior'
        .col-xs-6.text-left
          %p= "#{@movement.currency_balance}"
      .row
        .col-xs-6.text-right
          %p= 'Oficina'
        .col-xs-6.text-left
          %p= "#{@movement.office}"
      .row
        .col-xs-6.text-right
          %p= 'Concepto 1'
        .col-xs-6.text-left
          %p= "#{@movement.concept1}"
      .row
        .col-xs-6.text-right
          %p= 'Concepto 2'
        .col-xs-6.text-left
          %p= "#{@movement.concept2}"
      .row
        .col-xs-6.text-right
          %p= 'Concepto 3'
        .col-xs-6.text-left
          %p= "#{@movement.concept3}"
      .row
        .col-xs-6.text-right
          %p= 'Concepto 4'
        .col-xs-6.text-left
          %p= "#{@movement.concept4}"
      .row
        .col-xs-6.text-right
          %p= 'Concepto 5'
        .col-xs-6.text-left
          %p= "#{@movement.concept5}"
      .row
        .col-xs-6.text-right
          %p= 'Concepto 6'
        .col-xs-6.text-left
          %p= "#{@movement.concept6}"
      .row
        .col-xs-6.text-right
          %p= 'Descripción del administrador'
        .col-xs-6.text-left
          %p= "#{@movement.description}"
      - if current_user.admin?
        .row
          %hr/
          .col-xs-6.text-right
            %p.button= link_to 'Actualizar movimiento', edit_movement_path(@movement), class: 'btn btn-primary'
          .col-xs-6.text-left
            -unless @movement.apartment.nil?
              %p.button= link_to 'Desasociar movimiento', remove_apartment_path(@movement), method: :delete, data: { confirm: "¿Quieres desasociar el movimiento de la vivienda #{full_name_apartment(@movement.apartment)}?"}, class: 'btn btn-primary'
  - unless @movement.children.empty?
    %hr/
    .row
      .col-xs-12
        .page-header
          %h2 Movimientos descendientes
    = render 'movements/tables/show_children'