%h1 Datos del movimiento bancario "#{@movement.concept}"
%p= "Fecha movimiento: #{@movement.date}"
%p= "Fecha valor: #{@movement.date_value}"
%p= "Cantidad: #{@movement.amount}"
%p= "Divisa: #{@movement.currency_movement}"
%p= "Saldo posterior: #{@movement.post_balance}"
%p= "Divisa: #{@movement.currency_balance}"
%p= "Oficina: #{@movement.office}"
%p= "Concepto 1: #{@movement.concept1}"
%p= "Concepto 2: #{@movement.concept2}"
%p= "Concepto 3: #{@movement.concept3}"
%p= "Concepto 4: #{@movement.concept4}"
%p= "Concepto 5: #{@movement.concept5}"
%p= "Concepto 6: #{@movement.concept6}"
%p= "Descripción del administrador: #{@movement.description}"
%p= link_to 'Actualizar descripción', edit_movement_path(@movement), class: 'btn btn-primary'