.row
  .col-xs-12
    .page-header
      %h1 Vecinos de la comunidad
.row
  .col-xs-12
    .pagination
      = will_paginate @users, class: 'flickr_pagination'
  %table.table.table-hover.table-statement-movements
    %tr
      %th= sortable 'first_name', 'Nombre'
      %th= sortable 'last_name', 'Apellidos'
      %th= sortable 'email', 'Email'
      %th= sortable 'phone_number', 'Teléfono'
      %th Viviendas asociada
      %th Opciones
    -@users.each do |user|
      -unless current_user == user
        %tr
          %td= link_to "#{user.first_name}", user_profile_path(user)
          %td= "#{user.last_name}"
          %td= "#{user.email}"
          %td= "#{user.phone_number}"
          %td
            - user.apartments.each do |apartment|
              = link_to "#{full_name_apartment(apartment)}", apartment_path(apartment)
          %td
            = link_to user_path(user), data: { confirm: "¿Estás seguro de que quieres borrar al usuario?" }, method: :delete, class: 'btn btn-xs btn-danger' do
              %span.glyphicon.glyphicon-trash
.row
  .col-xs-12
    .pagination
      = will_paginate @users, class: 'flickr_pagination'