- provide(:title, 'Usuario')

.row
  .col-xs-12
    .page-header
      %h1= "Usuario #{full_name(@user)}"
.inner-wrapper
  .row
    .col-xs-12
      .row
        .col-xs-6.text-right
          %p= 'Correo'
        .col-xs-6.text-left
          %p= "#{@user.email}"
      .row
        .col-xs-6.text-right
          %p= 'Fecha de nacimiento'
        .col-xs-6.text-left
          %p= "#{@user.birthday}"
      .row
        .col-xs-6.text-right
          %p= 'Teléfono'
        .col-xs-6.text-left
          %p= "#{@user.phone_number}"
      .row
        .col-xs-12
          -if current_user == @user
            %hr/
            %p= link_to 'Editar perfil', edit_user_registration_path, class: 'btn btn-primary'
  .row
    .col-xs-12
      .page-header
        %h2 Vivienda en la que reside el usuario
  - if @user.apartments.empty?
    %p Este usuario no está residiendo en ninguna vivienda
  - else
    = render 'users/tables/apartments', apartments: @user.apartments
  .row
    .col-xs-12
      .page-header
        %h2 Viviendas pertenecientes al usuario
  - if @owned_apartments.empty?
    %p Este usuario no tiene ninguna vivienda como propiedad
  - else
    .row
      .col-xs-12
        .pagination
          = will_paginate @owned_apartments, class: 'flickr_pagination'
    = render 'users/tables/apartments', apartments: @owned_apartments
    .row
      .col-xs-12
        .pagination
          = will_paginate @owned_apartments, class: 'flickr_pagination'