%h1= "Usuario #{full_name(@user)}"

%p= "Correo: #{@user.email}"
%p= "Fecha de nacimiento: #{@user.birthday}"
%p= "Teléfono: #{@user.phone_number}"

-if current_user == @user
  %p= link_to 'Editar perfil', edit_user_registration_path, class: 'btn btn-primary'

%h2 Viviendas asociadas
%table.table.table-hover.table-statement
  %tr
    %th Vivienda
    %th Propietario
    %th Cuota
    %th Saldo actual
    %th Cuota de contribución
    %th Opciones
  - @user.apartments.each do |apartment|
    %tr
      %td= link_to "#{full_name_apartment(apartment)}", apartment_path(apartment)
      %td= apartment.try(:owner) || 'Sin propietario'
      %td= "#{apartment.fee}€"
      %td= "#{apartment.balance}€"
      %td= apartment.apartment_contribution ? "#{(apartment.apartment_contribution)*100}%" : 'Sin asignar'
      %td
        = link_to edit_apartment_path(apartment), class: 'btn btn-xs btn-primary' do
          %span.glyphicon.glyphicon-pencil