%h1= "Usuario #{full_name(@user)}"

%p= "Correo: #{@user.email}"
%p= "Fecha de nacimiento: #{@user.birthday}"
%p= "Teléfono: #{@user.phone_number}"

-if current_user == @user
  %p= link_to 'Editar perfil', edit_user_registration_path, class: 'btn btn-primary'

%h2 Viviendas asociadas
= will_paginate @apartments, class: 'flickr_pagination'
%table.table.table-hover.table-statement
  %tr
    %th= a_sortable 'floor', 'Vivienda'
    %th Propietario
    %th= a_sortable 'fee', 'Cuota'
    %th= a_sortable 'balance', 'Saldo actual'
    %th= a_sortable 'apartment_contribution', 'Cuota de contribución'
    %th Opciones
  - @user.apartments.each do |apartment|
    = render 'apartments', apartment: apartment
= will_paginate @apartments, class: 'flickr_pagination'