= render 'shared/error_message', object: f.object

.field
  = f.label 'Nombre'
  %br/
  = f.text_field :name, autofocus: true

.field
  = f.label 'Fecha'
  %br/
  = f.date_field :date

.field
  = f.label 'Fichero CSV a importar'
  %br/
  = f.file_field :bank_statement, multiple: false, direct_upload: true, options: { class: "btn btn-success" }

.actions
  = f.submit yield(:button_text)