%h2 Importar extracto bancario
%p Para importar un extracto bancario, se necesita el extracto bancario en formato CSV.
%p Por el momento el programa acepta ficheros de Bankia.

= form_for(@statement, method: :post, multipart: true) do |f|
  = render 'shared/error_message', object: f.object

  .form-group
    = f.label 'Nombre'
    %br/
    = f.text_field :name, autofocus: true

  .form-group
    = f.label 'Fecha'
    %br/
    = f.date_field :date

  .form-group.center-block
    = f.label 'Selecciona un fichero para importar'
    %br/
    = f.file_field :bank_statement, multiple: false, direct_upload: true

  .actions
    = f.submit 'Importar extracto bancario'