.row
  .col-xs-12
    .page-header
      %h2 Importar extracto bancario
.row
  .col-xs-12
    %p Para importar un extracto bancario, se necesita el extracto bancario en formato CSV.
    %p Por el momento el programa acepta ficheros de Bankia.
.inner-wrapper
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .form-box
        = form_for(@statement, method: :post, multipart: true) do |f|
          = render 'shared/error_message', object: f.object
          .form-title
            %span= 'Importar extracto'
            %hr
          .form-group
            .row
              = f.label 'Nombre', class: 'col-xs-12 col-sm-4 control-label'
              = f.text_field :name, autofocus: true, class: 'col-xs-12 col-sm-4'
          .form-group
            .row
              = f.label 'Fecha', class: 'col-xs-12 col-sm-4 control-label'
              = f.date_field :date, class: 'col-xs-12 col-sm-4'
          .form-group
            .row
              = f.label 'Selecciona un fichero para importar', class: 'col-xs-12 control-label'
              = f.file_field :bank_statement, multiple: false, direct_upload: true, class: 'col-xs-12'
          .form-group
            .row
              = f.submit 'Importar extracto bancario', class: 'col-xs-12 col-sm-6 col-sm-offset-3'