- provide(:title, 'Crear extracto bancario')
- provide(:button_text, 'Crear extracto bancario')

%h2 Crea un nuevo extracto bancario
= form_for(@statement, method: :post, multipart: true) do |f|
  = render 'shared/error_message', object: f.object

  .field
    = f.label 'Nombre'
    %br/
    = f.text_field :name, autofocus: true

  .field
    = f.label 'Fecha'
    %br/
    = f.date_field :date

  .field
    = f.label 'Fichero CSV a importar'
    %br/
    = f.file_field :bank_statement, multiple: false, direct_upload: true

  .actions
    = f.submit 'Crear extracto bancario'