- provide(:title, 'Extracto bancario')

.row
  .col-xs-12
    .page-header
      %h1= "#{@statement.name}"
.inner-wrapper
  .row
    .col-xs-12
      .row
        .col-xs-6.text-right
          %p= 'Nombre'
        .col-xs-6.text-left
          %p= "#{@statement.name}"
      .row
        .col-xs-6.text-right
          %p= 'Fecha'
        .col-xs-6.text-left
          %p= "#{@statement.date}"
  .row
    .col-xs-12
      .page-header
        %h2= 'Movimientos del extracto'
  .row
    .col-xs-12
      .pagination
        = will_paginate @movements, class: 'flickr_pagination'
  = render 'statements/tables/movements'
  .row
    .col-xs-12
      .pagination
        = will_paginate @movements, class: 'flickr_pagination'