%h1= "#{@statement.name}"
%p= "Nombre del extracto: #{@statement.name}"
%p= "Fecha del extracto: #{@statement.date}"
%h2= 'Movimientos del extracto'
.full-width
  %table.table.table-hover.table-statement-movements
    %tr
      %th Concepto
      %th Fecha
      %th Cantidad
      %th Concepto1
      %th Concepto3
      %th Concepto5
      %th Descripción
      %th Vivienda asociada
      %th Opciones
    -@statement.movements.each do |movement|
      %tr
        %td= link_to "#{movement.concept}", movement_path(movement)
        %td= "#{movement.date}"
        %td= "#{movement.amount}€"
        %td= "#{movement.concept1}"
        %td= "#{movement.concept3}"
        %td= "#{movement.concept5}"
        %td= "#{movement.description}"
        %td
          - if movement.apartment.blank?
            = link_to 'Asociar a vivienda', apartmentlist_path(movement)
          - else
            = link_to "#{full_name_apartment(movement.apartment)}", apartment_path(movement.apartment)
        %td
          = link_to divide_path(@statement, movement), class: 'btn btn-xs btn-success' do
            %span.glyphicon.glyphicon-scissors
          = link_to edit_movement_path(movement), class: 'btn btn-xs btn-primary' do
            %span.glyphicon.glyphicon-pencil
          = link_to delete_movement_statement_path(@statement, movement), method: :delete, data: { confirm: '¿Quieres borrar el extracto bancario?'}, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-trash