%h1= "Estos del extracto bancario #{@statement.name}"
%p= "Nombre del extracto: #{@statement.name}"
%p= "Fecha del extracto: #{@statement.date}"
%p= link_to 'Actualizar extracto', edit_statement_path(@statement), class: 'btn btn-primary'