- provide(:title, 'Pagos pendientes')

.row
  .col-xs-12
    .page-header
      - if current_user.admin?
        %h1 Pagos pendientes de la comunidad
      - else
        %h1 Pagos pendientes de mis viviendas
.inner-wrapper
  .row
    .col-xs-12
      - if current_user.admin?
        %p= link_to 'Crear pago pendiente', pending_payment_new_all_path, class: 'btn btn-primary'
  - if @pending_payments.where(paid: false).empty?
    %p No hay pagos pendientes de ninguna vivienda ahora mismo.
  - else
  .row
    .col-xs-12
      .pagination
        = will_paginate @pending_payments, class: 'flickr_pagination'
  = render 'pending_payments/tables/index'
  .row
    .col-xs-12
      .pagination
        = will_paginate @pending_payments, class: 'flickr_pagination'
  .row
    .col-xs-12
      - if current_user.admin?
        %p= link_to 'Crear pago pendiente', pending_payment_new_all_path, class: 'btn btn-primary'