%h1 Pagos pendientes de la comunidad

.row
  .col-xs-12.col-sm-12.col-md-4.col-md-offset-8
    %p= link_to 'Crear pago pendiente', pending_payment_new_all_path, class: 'btn btn-primary'

- if @pending_payments.where(paid: false).empty?
  %p No hay pagos pendientes de ninguna vivienda ahora mismo.
- else
  %table.table-statement-movements.table.table-hover
    %tr
      %th Concepto
      %th Fecha
      %th Cantidad
      %th Descripción
      %th Vivienda asociada
      %th Opciones
    -@pending_payments.each do |pending_payment|
      - unless pending_payment.paid?
        %tr
          %td= link_to "#{pending_payment.concept}", pending_payment_path(pending_payment)
          %td= "#{pending_payment.date}"
          %td= "#{pending_payment.amount}€"
          %td= "#{pending_payment.description}"
          %td
            - if pending_payment.apartment.blank?
              = link_to 'Asociar a vivienda', pending_payment_apartment_list_path(pending_payment)
            - else
              = link_to "#{full_name_apartment(pending_payment.apartment)}", apartment_path(pending_payment.apartment)
          %td
            = link_to edit_pending_payment_path(pending_payment), class: 'btn btn-xs btn-primary' do
              %span.glyphicon.glyphicon-pencil
            = link_to pending_payment, method: :delete, data: { confirm: '¿Quieres borrar el pago pendiente?'}, class: 'btn btn-xs btn-danger' do
              %span.glyphicon.glyphicon-trash
.row
  .col-xs-12.col-sm-12.col-md-4.col-md-offset-8
    %p= link_to 'Crear pago pendiente', pending_payment_new_all_path, class: 'btn btn-primary'
