- provide(:title, 'Generar pagos pendientes')
- provide(:button_text, 'Generar pagos pendientes')

%h2 Genera los pagos pendientes de las cuotas de las viviendas
= form_for(@pending_payment) do |f|
  = render 'shared/error_message', object: f.object
  .field
    = f.label 'Fecha'
    %br/
    = f.date_field :date
  .field
    = f.label 'Description'
    %br/
    = f.text_field :description
  .actions
    = f.submit 'Generar pagos pendientes'