%h2 Crea un nuevo pago pendiente para todas las viviendas
= form_for(PendingPayment.new, url: pending_payment_create_all_path) do |f|
  = render 'shared/error_message', object: f.object
  .field
    = f.label 'Concepto'
    %br/
    = f.text_field :concept, autofocus: true
  .field
    = f.label 'Fecha de inicio'
    %br/
    = f.date_field :date
  .field
    = f.label 'Cantidad'
    %br/
    = f.number_field :amount, min: 0
  .field
    = f.label 'Description'
    %br/
    = f.text_field :description
  .field
    = f.label 'Meses'
    %br/
    = f.number_field :months, min: 1
  .actions
    = f.submit 'Crear pago pendiente'