%h1= "Estos son los datos del pago pendiente"
%p= "Concepto: #{@pending_payment.concept}"
%p= "Fecha: #{@pending_payment.date}"
%p= "Cantidad: #{@pending_payment.amount}€"
%p= "Descripción: #{@pending_payment.description}"
- if @pending_payment.apartment.nil?
  %p= 'Vivienda: Este pago pendiente no está asociado a ninguna vivienda'
- else
  %p= "Vivienda: #{full_name_apartment(@pending_payment.apartment)}"
%p= link_to 'Actualizar pago pendiente', edit_pending_payment_path(@pending_payment), class: 'btn btn-primary'
- unless @pending_payment.apartment.nil?
  %p= link_to 'Asociar a otra vivienda', pending_payment_apartment_list_path(@pending_payment), class: 'btn btn-primary'