- provide(:title, 'Pago pendiente')

.row
  .col-xs-12
    .page-header
      %h1= 'Datos del pago pendiente'
.inner-wrapper
  .row
    .col-xs-12
      .row
        .col-xs-6.text-right
          %p= 'Concepto'
        .col-xs-6.text-left
          %p= "#{@pending_payment.concept}"
      .row
        .col-xs-6.text-right
          %p= 'Fecha'
        .col-xs-6.text-left
          %p= "#{@pending_payment.date}"
      .row
        .col-xs-6.text-right
          %p= 'Descripción'
        .col-xs-6.text-left
          %p= "#{@pending_payment.description}"
      .row
        .col-xs-6.text-right
          %p= 'Cantidad'
        .col-xs-6.text-left
          %p= "#{@pending_payment.amount}"
      .row
        .col-xs-6.text-right
          %p Vivienda
        .col-xs-6.text-left
          - if @pending_payment.apartment.nil?
            %p= 'Este pago está asociado a ninguna vivienda'
          -else
            %p= link_to "#{full_name_apartment(@pending_payment.apartment)}", apartment_path(@pending_payment.apartment)
      .row
        .col-xs-6.text-right
          %p ¿Pagado?
        .col-xs-6.text-left
          %p= @pending_payment.paid? ? "Si" : "No"
      - if @pending_payment.paid?
        .row
          .col-xs-6.text-right
            %p Pagador
          .col-xs-6.text-left
            %p= "#{@pending_payment.paid_by}"
      - if current_user.admin?
        .row
          %hr/
          .col-xs-6.text-right
            %p.button= link_to 'Actualizar pago pendiente', edit_pending_payment_path(@pending_payment), class: 'btn btn-primary'
          .col-xs-6.text-left
            - unless @pending_payment.apartment.nil?
              %p.button= link_to 'Asociar a otra vivienda', pending_payment_apartment_list_path(@pending_payment), class: 'btn btn-primary'