- provide(:title, 'Iniciar sesi贸n')

.row
  .col-xs-12
    .page-header
      %h1 Iniciar sesi贸n en la comunidad de vecinos
.inner-wrapper
  .row
    .col-xs-12.col-md-8.col-md-offset-2
      .form-box
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-title
            %span= 'Iniciar sesi贸n'
            %hr
          .form-group
            .row
              = f.label :email, class: 'col-xs-12 col-sm-4 control-label'
              = f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-xs-12 col-sm-4'
          .form-group
            .row
              = f.label :password, class: 'col-xs-12 col-sm-4 control-label'
              = f.password_field :password, autocomplete: "off", class: 'col-xs-12 col-sm-4'
          - if devise_mapping.rememberable?
            .form-group
              .row
                .col-xs-12.col-sm-4-col-sm-offset-4
                  = f.check_box :remember_me
                  = f.label :remember_me
          .form-group
            .row
              = f.submit "Iniciar sesi贸n", class: 'col-xs-12 col-sm-4 col-sm-offset-4'
        = render "devise/shared/links"
