.table-responsive
  %table.table.table-hover.table-statement
    %tr
      %th= sortable 'name', 'Nombre'
      %th= sortable 'date', 'Fecha'
      %th= 'Opciones'
    -@statements.each do |statement|
      %tr
        %td= link_to "#{statement.name}", statement_path(statement)
        %td= "#{statement.date}"
        %td
          = link_to 'Ver', statement_path(statement), class: 'btn btn-xs btn-primary'
          - if current_user.admin?
            = link_to 'Editar', edit_statement_path(statement), class: 'btn btn-xs btn-primary'
            = link_to 'Borrar', statement, method: :delete, data: { confirm: '¿Quieres borrar el extracto bancario?'}, class: 'btn btn-xs btn-danger'