.table-responsive
  %table.table.table-hover.table-statement
    %tr
      %th= u_sortable 'first_name', 'Vecino'
      %th= u_sortable 'email', 'Email'
      %th= u_sortable 'phone_number', 'Teléfono'
      %th Opciones
    -@users.each do |user|
      %tr
        %td= link_to "#{full_name(user)}", user_profile_path(user)
        %td= "#{user.email}"
        %td= "#{user.phone_number}"
        %td
          = link_to 'Ver', user_profile_path(user), class: 'btn btn-xs btn-primary'
          - if current_user.admin?
            = link_to 'Quitar usuario', remove_user_path(@apartment, user), data: { confirm: "¿Quieres quitar al usuario de la vivienda?" }, method: :delete, class: 'btn btn-xs btn-danger'