= render 'shared/error_message', object: f.object
.field
  = f.label 'Piso'
  %br/
  = f.number_field :floor, min: 0

.field
  = f.label 'Letra'
  %br/
  = f.text_field :letter

.field
  = f.label 'Cuota'
  %br/
  = f.number_field :fee, min: 0

.field
  = f.label 'Contribución de cuota a la comunidad (Valor entre 0 y 1)'
  %br/
  = f.number_field :apartment_contribution, step: :any, min: 0, max: 1

.actions
  = f.submit yield(:button_text)