%h1 Viviendas de la comunidad

.row
  .col-xs-12.col-sm-12.col-md-4.col-md-offset-9
    %p= link_to 'Crear vivienda', new_apartment_path, class: 'btn btn-primary'
- if @apartments.empty?
  %p No hay ninguna vivienda en la comunidad.
-else
  = will_paginate @apartments, class: 'flickr_pagination'
  %table.table.table-hover.table-statement
    %tr
      %th= sortable 'floor', 'Vivienda'
      %th Propietario
      %th= sortable 'fee', 'Cuota'
      %th= sortable 'balance', 'Saldo actual'
      %th= sortable 'apartment_contribution', 'Cuota de contribución'
      %th Opciones
    - @apartments.each do |apartment|
      %tr
        %td= link_to "#{full_name_apartment(apartment)}", apartment_path(apartment)
        %td
          - if apartment.owner.nil?
            Sin propietario
          -else
            =link_to "#{full_name(apartment.owner)}", user_profile_path(apartment.owner)
        %td= "#{apartment.fee}€"
        %td= "#{apartment.balance}€"
        %td= apartment.apartment_contribution ? "#{(apartment.apartment_contribution)*100}%" : 'Sin asignar'
        %td
          = link_to edit_apartment_path(apartment), class: 'btn btn-xs btn-primary' do
            %span.glyphicon.glyphicon-pencil
          = link_to apartment, method: :delete, data: { confirm: '¿Quieres borrar la vivienda?'}, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-trash
  = will_paginate @apartments, class: 'flickr_pagination'
.row
  .col-xs-12.col-sm-12.col-md-4.col-md-offset-9
    %p= link_to 'Crear vivienda', new_apartment_path, class: 'btn btn-primary'