%h1= "Pagos pendientes de la vivienda #{full_name_apartment(@apartment)}"
%h2= "Saldo disponible: #{@apartment.balance}€"

-if @apartment.pending_payments.empty?
  %p La vivienda no tiene ningún pago pendiente.
-else
  %table.table.table-hover.table-statement
    %tr
      %th Concepto
      %th Fecha
      %th Cantidad
      %th Descripción
      %th Opciones
    -@apartment.pending_payments.each do |pending_payment|
      - unless pending_payment.paid?
        %tr
          %td= link_to "#{pending_payment.concept}", pending_payment_path(pending_payment)
          %td= "#{pending_payment.date}"
          %td= "#{pending_payment.amount}€"
          %td= "#{pending_payment.description}"
          %td
            = link_to pay_pending_payment_path(@apartment, pending_payment), data: { confirm: "¿Quieres pagar el pago pendiente #{pending_payment.concept}?" }, class: 'btn btn-xs btn-primary' do
              %span.glyphicon.glyphicon-eur
            = link_to edit_pending_payment_path(pending_payment), class: 'btn btn-xs btn-primary' do
              %span.glyphicon.glyphicon-pencil
            = link_to pending_payment, method: :delete, data: { confirm: '¿Quieres borrar el pago pendiente?'}, class: 'btn btn-xs btn-danger' do
              %span.glyphicon.glyphicon-trash