.row
  .col-xs-12
    .page-header
      %h1= "Pagos pendientes de la vivienda #{full_name_apartment(@apartment)}"
      %h2= "Saldo disponible: #{@apartment.balance}€"
.inner-wrapper
  .row
    .col-xs-12
      -if @pending_payments.empty?
        %p La vivienda no tiene ningún pago pendiente.
      -else
        .row
          .col-xs-12
            .pagination
              =will_paginate @pending_payments, class: 'flickr_pagination'
        .table-responsive
          %table.table.table-hover.table-statement
            %tr
              %th= pp_sortable 'concept', 'Concepto'
              %th= pp_sortable 'date', 'Fecha'
              %th= pp_sortable 'amount', 'Cantidad'
              %th= pp_sortable 'description', 'Descripción'
              %th Opciones
            -@pending_payments.each do |pending_payment|
              - unless pending_payment.paid?
                %tr
                  %td= link_to "#{pending_payment.concept}", pending_payment_path(pending_payment)
                  %td= "#{pending_payment.date}"
                  %td= "#{pending_payment.amount}€"
                  %td= "#{pending_payment.description}"
                  %td
                    = link_to 'Ver', pending_payment_path(pending_payment), class: 'btn btn-xs btn-primary'
                    = link_to 'Pagar', pending_payment_users_path(@apartment, pending_payment), class: 'btn btn-xs btn-primary'
                    = link_to 'Editar', edit_pending_payment_path(pending_payment), class: 'btn btn-xs btn-primary'
                    = link_to 'Borrar', pending_payment, method: :delete, data: { confirm: '¿Quieres borrar el pago pendiente?'}, class: 'btn btn-xs btn-danger'
        .row
          .col-xs-12
            .pagination
              =will_paginate @pending_payments, class: 'flickr_pagination'