%h1= "Estos son los datos de la vivienda #{full_name_apartment(@apartment)}"
%p= "Dueño de la vivienda: #{@apartment.owner}"
%p= "Cuota de la vivienda: #{@apartment.fee}€"
%p= "Saldo de la vivienda actual: #{@apartment.balance}€"