%h1= "Esto son los datos de la vivienda #{fullname(@apartment)}"
%p= "Dueño de la vivienda: #{@apartment.owner}"
%p= "Cuota de la vivienda: #{@apartment.fee}€"
%p= "Saldo de la vivienda actual: #{@apartment.balance}€"