%h1= "Datos de la vivienda #{full_name_apartment(@apartment)}"
%p
  Dueño:
  - if @apartment.owner.nil?
    Dueño: Sin propietario
  -else
    =link_to "#{full_name(@apartment.owner)}", user_profile_path(@apartment.owner)
%p= "Cuota: #{@apartment.fee}€"
%p= "Saldo actual: #{@apartment.balance}€"
%p= @apartment.apartment_contribution ? "Cuota de contribución de la vivienda: #{(@apartment.apartment_contribution)*100}%" : 'Cuota de contribución de la vivienda: Sin asignar'
%p= link_to 'Editar usuarios', apartment_users_path(@apartment), class: 'btn btn-primary'
%p= link_to 'Contabilidad de pagos', apartment_history_path(@apartment), class: 'btn btn-primary'

%h2 Pagos pendientes más antiguos
-if @apartment.pending_payments.where(paid: false).empty?
  %p Esta vivienda no tiene ningún pago pendiente
- else
  %table.table.table-hover.table-statement
    %tr
      %th Concepto
      %th Fecha
      %th Cantidad
      %th Descripción
      %th Opciones
    - @apartment.pending_payments.where(paid: false).first(5).each do |pending_payment|
      %tr
        %td= link_to "#{pending_payment.concept}", pending_payment_path(pending_payment)
        %td= "#{pending_payment.date}"
        %td= "#{pending_payment.amount}€"
        %td= "#{pending_payment.description}"
        %td
          = link_to pending_payment_users_path(@apartment, pending_payment), class: 'btn btn-xs btn-primary' do
            %span.glyphicon.glyphicon-eur
          = link_to edit_pending_payment_path(pending_payment), class: 'btn btn-xs btn-primary' do
            %span.glyphicon.glyphicon-pencil
          = link_to pending_payment, method: :delete, data: { confirm: '¿Quieres borrar el pago pendiente?'}, class: 'btn btn-xs btn-danger' do
            %span.glyphicon.glyphicon-trash
  .row
    .col-xs-12.col-sm-12.col-md-4.col-md-offset-9
      %p= link_to 'Ver pagos pendientes', apartment_pending_payments_path(@apartment), class: 'btn btn-primary'

%h2 Movimientos más recientes
-if @apartment.movements.empty?
  %p Esta vivienda no tiene ningún movimiento asociado
- else
  %table.table.table-hover.table-statement
    %tr
      %th Concepto
      %th Fecha
      %th Cantidad
      %th Descripción
      %th Opciones
    - @apartment.movements.first(5).each do |movement|
      %tr
        %td= link_to "#{movement.concept}", movement_path(movement)
        %td= "#{movement.date}"
        %td= "#{movement.amount}€"
        %td= "#{movement.description}"
        %td
          = link_to apartmentlist_path(movement), class: 'btn btn-xs btn-success' do
            %span.glyphicon.glyphicon-eject
          = link_to edit_movement_path(movement), class: 'btn btn-xs btn-primary' do
            %span.glyphicon.glyphicon-pencil
  .row
    .col-xs-12.col-sm-12.col-md-4.col-md-offset-9
      %p= link_to 'Movimientos asociados', apartment_movements_path, class: 'btn btn-primary'