%h1= "Estos son los datos de la vivienda #{full_name_apartment(@apartment)}"
%p= "Dueño de la vivienda: #{@apartment.owner}"
%p= "Cuota de la vivienda: #{@apartment.fee}€"
%p= "Saldo de la vivienda actual: #{@apartment.balance}€"
%p= link_to 'Actualizar vivienda', edit_apartment_path(@apartment), class: 'btn btn-primary'
%p= link_to 'Editar usuarios', apartment_users_path(@apartment), class: 'btn btn-primary'
%p= link_to 'Ver pagos pendientes', '#', class: 'btn btn-primary'
%p= link_to 'Historial pagos', '#', class: 'btn btn-primary'
%p= link_to 'Movimientos asociados', '#', class: 'btn btn-primary'