- provide(:title, 'Usuarios')

.row
  .col-xs-12
    .page-header
      %h1= "Usuarios de la vivienda #{full_name_apartment(@apartment)}"

.inner-wrapper
  .row
    .col-xs-12
      - if current_user.admin?
        %p= link_to 'Añadir Propietario/Usuarios', userlist_path(@apartment), class: 'btn btn-primary'
  .row
    .col-xs-12
      .page-subheader
        %h2 Propietario de la vivienda
      - if @apartment.owner.nil?
        %p Esta vivienda no tiene propietario
      - else
        = render 'apartments/tables/owner'
  .row
    .col-xs-12
      .page-subheader
        %h2 Residentes de la vivienda
  .row
    .col-xs-12
      -if @users.empty?
        %p No hay ningún usuario asignado a la vivienda
      -else
        .row
          .col-xs-12
            .pagination
              = will_paginate @users, class: 'flickr_pagination'
        = render 'apartments/tables/users'
        .row
          .col-xs-12
            .pagination
              = will_paginate @users, class: 'flickr_pagination'
  .row
    .col-xs-12
      - if current_user.admin?
        %p.button= link_to 'Añadir Propietario/Usuarios', userlist_path(@apartment), class: 'btn btn-primary '